# <b> Experiment 14: Naive Bayes Classifier using Titanic dataset (We have to predict whether a person survived or not?) <b>

In [210]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [211]:
df = pd.read_csv('titanic_data.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [212]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns', inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [213]:
target = df.Survived
input = df.drop('Survived', axis = 'columns')

In [214]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [215]:
input

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [216]:
input.shape

(891, 4)

In [217]:
dummies = pd.get_dummies(input.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [218]:
input = pd.concat([input,dummies],axis='columns')
input.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [219]:
input.shape

(891, 6)

In [220]:
input.drop('Sex', axis='columns', inplace=True)
input.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [221]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [222]:
input.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [223]:
input.Age = input.Age.fillna(input.Age.median())
input.head(10)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True
5       3  28.0   8.4583   False   True
6       1  54.0  51.8625   False   True
7       3   2.0  21.0750   False   True
8       3  27.0  11.1333    True  False
9       2  14.0  30.0708    True  False

In [224]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input, target, test_size=0.2, random_state=0)

In [225]:
len(x_train)

712

In [226]:
len(x_test)

179

In [227]:
len(input)

891

In [228]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
# Accuracy : 78.21 %

# from sklearn.naive_bayes import ComplementNB 
# model = ComplementNB()
# Accuracy = 73.18 %

# from sklearn.naive_bayes import MultinomialNB
# model = MultinomialNB()
# Accuracy = 72.625 %

In [229]:
model.fit(x_train, y_train)

GaussianNB()

In [230]:
model.score(x_test,y_test)

0.7821229050279329

In [231]:
x_test[:10]

     Pclass   Age      Fare  female   male
495       3  28.0   14.4583   False   True
648       3  28.0    7.5500   False   True
278       3   7.0   29.1250   False   True
31        1  28.0  146.5208    True  False
255       3  29.0   15.2458    True  False
298       1  28.0   30.5000   False   True
609       1  40.0  153.4625    True  False
318       1  31.0  164.8667    True  False
484       1  25.0   91.0792   False   True
367       3  28.0    7.2292    True  False

In [232]:
y_test[:10]

495    0
648    0
278    0
31     1
255    1
298    1
609    1
318    1
484    1
367    1
Name: Survived, dtype: int64

In [233]:
model.predict(x_test[:10])

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1], dtype=int64)

In [234]:
model.predict_proba(x_test[:10])

array([[9.88886742e-01, 1.11132576e-02],
       [9.88584492e-01, 1.14155083e-02],
       [9.80401157e-01, 1.95988429e-02],
       [1.11351215e-05, 9.99988865e-01],
       [5.31052521e-02, 9.46894748e-01],
       [9.21677508e-01, 7.83224915e-02],
       [6.05927167e-06, 9.99993941e-01],
       [1.60423022e-06, 9.99998396e-01],
       [5.81001072e-01, 4.18998928e-01],
       [5.09247767e-02, 9.49075223e-01]])

<h1> <b> Assignment - Design a naive bayes classifier for email spam dataset. <b></h1>